body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    width: 100%;
}

.nav-bar-text {
    
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 20px 70px 20px 70px;
    text-align: justify;
    vertical-align: middle;
    margin: 0 auto;
}

.nav-bar-icon {
    display: inline-block;
    padding: 5px 70px 30px 70px;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

#black-text {
    font-family: 'Roboto', sans-serif;
    color: rgb(29,29,31);
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

#red-text {
    font-family: 'Roboto', sans-serif;
    color: red;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.header-texts {
    font-family: 'Roboto', sans-serif;
    color: rgb(29,29,31);
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

h1 {
    font-size: 60px;
}

.contenedor-boton {
    text-align: center;
    margin: 10px auto;
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 113, 227);
    color: white;
    text-align: center;
    width: 100px;
    height: 30px;
    padding: 20px, 10px;
    border-radius: 25px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    
}

.links {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(0, 113, 227);
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    padding-top: 10px;
    display: block;
}

#header-image {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 100px;
}

section {
    display: inline-block;
    width: 100%;
    margin-top: 20px;    
}



.accesories {
    display: inline-block;
    width: 49%;
    background-color: rgb(242, 242, 242);
    height: 60%;
    /*text-align: justify;*/
    text-align: center;
    margin-right: 10px;
    margin-left: 5px;
    box-sizing: border-box;
    padding-top: 32px;
    
    
}

.recicle {
    display: inline-block;
    width: 49%;
    background-color: rgb(242, 242, 242);
    height: 60%;
    /*text-align: justify;*/
    text-align: center;
    margin-left: 10px;
    margin-right: 5px;
    box-sizing: border-box;
    
    margin-top: 30px;
    
    
}

#accesories-image {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: block;
    padding-top: 122px;
    
}

#recicle-image {
    width: 50%;
    height: 30%;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.accesories-texts {
    font-family: 'Roboto', sans-serif;
    color: rgb(29,29,31);
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    
}

.products-texts {
    font-family: 'Roboto', sans-serif;
    color: rgb(29,29,31);
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    
}

.services {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.services-texts {
    font-family: 'Roboto', sans-serif;
    color: rgb(29,29,31);
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

#services-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block;
    padding: 50px, 10px, 10px, 10px;
}

footer {
    background-color: rgb(245, 245, 247);
    display: inline-block;
    width: 100%;
    position: bottom;
}

.footer-text {
    color: rgb(81, 81, 84);
    font-family: 'Roboto', sans-serif;
    padding: 20px 70px 10px 20px;
    text-align: left;
    margin: 0 auto;
    margin-left: 140px;
}

.footer-nav {
    color: rgb(81, 81, 84);
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 10px 1px 10px 1px;
    text-align: left;
    margin-left: 10px;
}

.left-margin {
    margin-left: 160px;
}

.left-border {
    border-left: 1px solid lightslategray;
    margin-left: 2px;
    padding-left: 5px;
}
